TreeTagger/bin/chunk-english.bat
TreeTagger/bin/chunk-french.bat
TreeTagger/bin/chunk-german.bat
TreeTagger/bin/tag-dutch.bat
TreeTagger/bin/tag-english.bat
TreeTagger/bin/tag-french.bat
TreeTagger/bin/tag-german.bat
TreeTagger/bin/tag-italian.bat
TreeTagger/bin/tag-spanish.bat
TreeTagger/bin/train-tree-tagger.exe
TreeTagger/bin/tree-tagger-flush.exe
TreeTagger/bin/tree-tagger.exe
TreeTagger/cmd/filter-chunker-output-french.perl
TreeTagger/cmd/filter-chunker-output-german.perl
TreeTagger/cmd/filter-chunker-output.perl
TreeTagger/cmd/mwl-lookup-greek.perl
TreeTagger/cmd/mwl-lookup.perl
TreeTagger/cmd/tokenize.pl
TreeTagger/cmd/utf8-tokenize.perl
TreeTagger/lib/dutch-abbreviations
TreeTagger/lib/english-abbreviations
TreeTagger/lib/french-abbreviations
TreeTagger/lib/german-abbreviations
TreeTagger/lib/italian-abbreviations
TreeTagger/lib/spanish-abbreviations
TreeTagger/lib/spanish-mwls
audio_files/speech_audio_0.mp3
audio_files/speech_audio_1.mp3
audio_files/speech_audio_2.mp3
audio_files/speech_audio_3.mp3
audio_files/speech_audio_4.mp3
audio_files/speech_audio_5.mp3
audio_files/speech_audio_6.mp3
audio_files/speech_audio_7.mp3
audio_files/speech_audio_8.mp3
audio_files/speech_audio_9.mp3
audio_files/speech_audio_10.mp3
audio_files/speech_audio_11.mp3
audio_files/speech_audio_12.mp3
audio_files/speech_audio_13.mp3
audio_files/speech_audio_14.mp3
audio_files/speech_audio_15.mp3
audio_files/speech_audio_16.mp3
audio_files/speech_audio_17.mp3
audio_files/speech_audio_18.mp3
audio_files/speech_audio_19.mp3
audio_files/speech_audio_20.mp3
audio_files/speech_audio_21.mp3
audio_files/speech_audio_22.mp3
audio_files/speech_audio_23.mp3
audio_files/speech_audio_24.mp3
audio_files/speech_audio_25.mp3
audio_files/speech_audio_26.mp3
audio_files/speech_audio_27.mp3
audio_files/speech_audio_28.mp3
audio_files/speech_audio_29.mp3
audio_files/speech_audio_30.mp3
audio_files/speech_audio_31.mp3
audio_files/speech_audio_32.mp3
audio_files/speech_audio_33.mp3
audio_files/speech_audio_34.mp3
audio_files/speech_audio_35.mp3
audio_files/speech_audio_36.mp3
audio_files/speech_audio_37.mp3
audio_files/speech_audio_38.mp3
audio_files/speech_audio_39.mp3
audio_files/speech_audio_40.mp3
audio_files/speech_audio_41.mp3
audio_files/speech_audio_42.mp3
audio_files/speech_audio_43.mp3
audio_files/speech_audio_44.mp3
audio_files/speech_audio_45.mp3
audio_files/speech_audio_46.mp3
audio_files/speech_audio_47.mp3
audio_files/speech_audio_48.mp3
audio_files/speech_audio_49.mp3
audio_files/speech_audio_50.mp3
audio_files/speech_audio_51.mp3
audio_files/speech_audio_52.mp3
audio_files/speech_audio_53.mp3
audio_files/speech_audio_54.mp3
audio_files/speech_audio_55.mp3
audio_files/speech_audio_56.mp3
audio_files/speech_audio_57.mp3
audio_files/speech_audio_58.mp3
audio_files/speech_audio_59.mp3
audio_files/speech_audio_60.mp3
audio_files/speech_audio_61.mp3
audio_files/speech_audio_62.mp3
audio_files/speech_audio_63.mp3
audio_files/speech_audio_64.mp3
audio_files/speech_audio_65.mp3
audio_files/speech_audio_66.mp3
audio_files/speech_audio_67.mp3
audio_files/speech_audio_68.mp3
audio_files/speech_audio_69.mp3
audio_files/speech_audio_70.mp3
audio_files/speech_audio_71.mp3
audio_files/speech_audio_72.mp3
audio_files/speech_audio_73.mp3
audio_files/speech_audio_74.mp3
audio_files/speech_audio_75.mp3
audio_files/speech_audio_76.mp3
audio_files/speech_audio_77.mp3
audio_files/speech_audio_78.mp3
audio_files/speech_audio_79.mp3
audio_files/speech_audio_80.mp3
audio_files/speech_audio_81.mp3
audio_files/speech_audio_82.mp3
audio_files/speech_audio_83.mp3
audio_files/speech_audio_84.mp3
audio_files/speech_audio_85.mp3
audio_files/speech_audio_86.mp3
audio_files/speech_audio_87.mp3
audio_files/speech_audio_88.mp3
audio_files/speech_audio_89.mp3
audio_files/speech_audio_90.mp3
audio_files/speech_audio_91.mp3
audio_files/speech_audio_92.mp3
audio_files/speech_audio_93.mp3
audio_files/speech_audio_94.mp3
audio_files/speech_audio_95.mp3
audio_files/speech_audio_96.mp3
audio_files/speech_audio_97.mp3
audio_files/speech_audio_98.mp3
audio_files/speech_audio_99.mp3
audio_files/speech_audio_100.mp3
audio_files/speech_audio_101.mp3
audio_files/speech_audio_102.mp3
audio_files/speech_audio_103.mp3
audio_files/speech_audio_104.mp3
audio_files/speech_audio_105.mp3
audio_files/speech_audio_106.mp3
audio_files/speech_audio_107.mp3
audio_files/speech_audio_108.mp3
audio_files/speech_audio_109.mp3
audio_files/speech_audio_110.mp3
audio_files/speech_audio_111.mp3
audio_files/speech_audio_112.mp3
audio_files/speech_audio_113.mp3
audio_files/speech_audio_114.mp3
audio_files/speech_audio_115.mp3
audio_files/speech_audio_116.mp3
audio_files/speech_audio_117.mp3
audio_files/speech_audio_118.mp3
audio_files/speech_audio_119.mp3
audio_files/speech_audio_120.mp3
audio_files/speech_audio_121.mp3
audio_files/speech_audio_122.mp3
audio_files/speech_audio_123.mp3
audio_files/speech_audio_124.mp3
audio_files/speech_audio_125.mp3
audio_files/speech_audio_126.mp3
audio_files/speech_audio_127.mp3
audio_files/speech_audio_128.mp3
audio_files/speech_audio_129.mp3
audio_files/speech_audio_130.mp3
audio_files/speech_audio_131.mp3
audio_files/speech_audio_132.mp3
audio_files/speech_audio_133.mp3
audio_files/speech_audio_134.mp3
audio_files/speech_audio_135.mp3
audio_files/speech_audio_136.mp3
audio_files/speech_audio_137.mp3
audio_files/speech_audio_138.mp3
audio_files/speech_audio_139.mp3
audio_files/speech_audio_140.mp3
audio_files/speech_audio_141.mp3
audio_files/speech_audio_142.mp3
audio_files/speech_audio_143.mp3
audio_files/speech_audio_144.mp3
audio_files/speech_audio_145.mp3
audio_files/speech_audio_146.mp3
audio_files/speech_audio_147.mp3
audio_files/speech_audio_148.mp3
audio_files/speech_audio_149.mp3
audio_files/speech_audio_150.mp3
audio_files/speech_audio_151.mp3
audio_files/speech_audio_152.mp3
audio_files/speech_audio_153.mp3
audio_files/speech_audio_154.mp3
audio_files/speech_audio_155.mp3
audio_files/speech_audio_156.mp3
audio_files/speech_audio_157.mp3
audio_files/speech_audio_158.mp3
audio_files/speech_audio_159.mp3
audio_files/speech_audio_160.mp3
audio_files/speech_audio_161.mp3
audio_files/speech_audio_162.mp3
audio_files/speech_audio_163.mp3
audio_files/speech_audio_164.mp3
audio_files/speech_audio_165.mp3
audio_files/speech_audio_166.mp3
audio_files/speech_audio_167.mp3
audio_files/speech_audio_168.mp3
audio_files/speech_audio_169.mp3
audio_files/speech_audio_170.mp3
audio_files/speech_audio_171.mp3
audio_files/speech_audio_172.mp3
audio_files/speech_audio_173.mp3
audio_files/speech_audio_174.mp3
audio_files/speech_audio_175.mp3
audio_files/speech_audio_176.mp3
audio_files/speech_audio_177.mp3
audio_files/speech_audio_178.mp3
audio_files/speech_audio_179.mp3
audio_files/speech_audio_180.mp3
audio_files/speech_audio_181.mp3
audio_files/speech_audio_182.mp3
audio_files/speech_audio_183.mp3
audio_files/speech_audio_184.mp3
audio_files/speech_audio_185.mp3
audio_files/speech_audio_186.mp3
audio_files/speech_audio_187.mp3
audio_files/speech_audio_188.mp3
audio_files/speech_audio_189.mp3
audio_files/speech_audio_190.mp3
audio_files/speech_audio_191.mp3
audio_files/speech_audio_192.mp3
audio_files/speech_audio_193.mp3
audio_files/speech_audio_194.mp3
audio_files/speech_audio_195.mp3
audio_files/speech_audio_196.mp3
audio_files/speech_audio_197.mp3
audio_files/speech_audio_198.mp3
audio_files/speech_audio_199.mp3
audio_files/speech_audio_200.mp3
audio_files/speech_audio_201.mp3
audio_files/speech_audio_202.mp3
audio_files/speech_audio_203.mp3
audio_files/speech_audio_204.mp3
audio_files/speech_audio_205.mp3
audio_files/speech_audio_206.mp3
audio_files/speech_audio_207.mp3
audio_files/speech_audio_208.mp3
audio_files/speech_audio_209.mp3
audio_files/speech_audio_210.mp3
audio_files/speech_audio_211.mp3
audio_files/speech_audio_212.mp3
audio_files/speech_audio_213.mp3
audio_files/speech_audio_214.mp3
audio_files/speech_audio_215.mp3
audio_files/speech_audio_216.mp3
audio_files/speech_audio_217.mp3
audio_files/speech_audio_218.mp3
audio_files/speech_audio_219.mp3
audio_files/speech_audio_220.mp3
audio_files/speech_audio_221.mp3
audio_files/speech_audio_222.mp3
audio_files/speech_audio_223.mp3
audio_files/speech_audio_224.mp3
audio_files/speech_audio_225.mp3
audio_files/speech_audio_226.mp3
audio_files/speech_audio_227.mp3
audio_files/speech_audio_228.mp3
audio_files/speech_audio_229.mp3
audio_files/speech_audio_230.mp3
audio_files/speech_audio_231.mp3
audio_files/speech_audio_232.mp3
audio_files/speech_audio_233.mp3
audio_files/speech_audio_234.mp3
audio_files/speech_audio_235.mp3
audio_files/speech_audio_236.mp3
audio_files/speech_audio_237.mp3
audio_files/speech_audio_238.mp3
audio_files/speech_audio_239.mp3
audio_files/speech_audio_240.mp3
audio_files/speech_audio_241.mp3
audio_files/speech_audio_242.mp3
audio_files/speech_audio_243.mp3
audio_files/speech_audio_244.mp3
audio_files/speech_audio_245.mp3
audio_files/speech_audio_246.mp3
audio_files/speech_audio_247.mp3
audio_files/speech_audio_248.mp3
audio_files/speech_audio_249.mp3
audio_files/speech_audio_250.mp3
audio_files/speech_audio_251.mp3
audio_files/speech_audio_252.mp3
audio_files/speech_audio_253.mp3
audio_files/speech_audio_254.mp3
audio_files/speech_audio_255.mp3
audio_files/speech_audio_256.mp3
audio_files/speech_audio_257.mp3
audio_files/speech_audio_258.mp3
TreeTagger/INSTALL.txt
TreeTagger/README.txt
DAnki/audio_files/speech_audio_0.mp3
DAnki/audio_files/speech_audio_1.mp3
DAnki/audio_files/speech_audio_2.mp3
DAnki/audio_files/speech_audio_3.mp3
DAnki/audio_files/speech_audio_4.mp3
DAnki/audio_files/speech_audio_5.mp3
DAnki/audio_files/speech_audio_6.mp3
DAnki/audio_files/speech_audio_7.mp3
DAnki/audio_files/speech_audio_8.mp3
DAnki/audio_files/speech_audio_9.mp3
DAnki/audio_files/speech_audio_10.mp3
DAnki/audio_files/speech_audio_11.mp3
DAnki/audio_files/speech_audio_12.mp3
DAnki/audio_files/speech_audio_13.mp3
DAnki/audio_files/speech_audio_14.mp3
DAnki/audio_files/speech_audio_15.mp3
DAnki/audio_files/speech_audio_16.mp3
DAnki/audio_files/speech_audio_17.mp3
DAnki/audio_files/speech_audio_18.mp3
DAnki/audio_files/speech_audio_19.mp3
DAnki/audio_files/speech_audio_20.mp3
DAnki/audio_files/speech_audio_21.mp3
DAnki/audio_files/speech_audio_22.mp3
DAnki/audio_files/speech_audio_23.mp3
DAnki/audio_files/speech_audio_24.mp3
DAnki/audio_files/speech_audio_25.mp3
DAnki/audio_files/speech_audio_26.mp3
DAnki/audio_files/speech_audio_27.mp3
DAnki/audio_files/speech_audio_28.mp3
DAnki/audio_files/speech_audio_29.mp3
DAnki/audio_files/speech_audio_30.mp3
DAnki/audio_files/speech_audio_31.mp3
DAnki/audio_files/speech_audio_32.mp3
DAnki/audio_files/speech_audio_33.mp3
DAnki/audio_files/speech_audio_34.mp3
DAnki/audio_files/speech_audio_35.mp3
DAnki/audio_files/speech_audio_36.mp3
DAnki/audio_files/speech_audio_37.mp3
DAnki/audio_files/speech_audio_38.mp3
DAnki/audio_files/speech_audio_39.mp3
DAnki/audio_files/speech_audio_40.mp3
DAnki/audio_files/speech_audio_41.mp3
DAnki/audio_files/speech_audio_42.mp3
DAnki/audio_files/speech_audio_43.mp3
DAnki/audio_files/speech_audio_44.mp3
DAnki/audio_files/speech_audio_45.mp3
DAnki/audio_files/speech_audio_46.mp3
DAnki/audio_files/speech_audio_47.mp3
DAnki/audio_files/speech_audio_48.mp3
DAnki/audio_files/speech_audio_49.mp3
DAnki/audio_files/speech_audio_50.mp3
DAnki/audio_files/speech_audio_51.mp3
DAnki/audio_files/speech_audio_52.mp3
DAnki/audio_files/speech_audio_53.mp3
DAnki/audio_files/speech_audio_54.mp3
DAnki/audio_files/speech_audio_55.mp3
DAnki/audio_files/speech_audio_56.mp3
DAnki/audio_files/speech_audio_57.mp3
DAnki/audio_files/speech_audio_58.mp3
DAnki/audio_files/speech_audio_59.mp3
DAnki/audio_files/speech_audio_60.mp3
DAnki/audio_files/speech_audio_61.mp3
DAnki/audio_files/speech_audio_62.mp3
DAnki/audio_files/speech_audio_63.mp3
DAnki/audio_files/speech_audio_64.mp3
DAnki/audio_files/speech_audio_65.mp3
DAnki/audio_files/speech_audio_66.mp3
DAnki/audio_files/speech_audio_67.mp3
DAnki/audio_files/speech_audio_68.mp3
DAnki/audio_files/speech_audio_69.mp3
DAnki/audio_files/speech_audio_70.mp3
DAnki/audio_files/speech_audio_71.mp3
DAnki/audio_files/speech_audio_72.mp3
DAnki/audio_files/speech_audio_73.mp3
DAnki/audio_files/speech_audio_74.mp3
DAnki/audio_files/speech_audio_75.mp3
DAnki/audio_files/speech_audio_76.mp3
DAnki/audio_files/speech_audio_77.mp3
DAnki/audio_files/speech_audio_78.mp3
DAnki/audio_files/speech_audio_79.mp3
DAnki/audio_files/speech_audio_80.mp3
DAnki/audio_files/speech_audio_81.mp3
DAnki/audio_files/speech_audio_82.mp3
DAnki/audio_files/speech_audio_83.mp3
DAnki/audio_files/speech_audio_84.mp3
DAnki/audio_files/speech_audio_85.mp3
DAnki/audio_files/speech_audio_86.mp3
DAnki/audio_files/speech_audio_87.mp3
DAnki/audio_files/speech_audio_88.mp3
DAnki/audio_files/speech_audio_89.mp3
DAnki/audio_files/speech_audio_90.mp3
DAnki/audio_files/speech_audio_91.mp3
DAnki/audio_files/speech_audio_92.mp3
DAnki/audio_files/speech_audio_93.mp3
DAnki/audio_files/speech_audio_94.mp3
DAnki/audio_files/speech_audio_95.mp3
DAnki/audio_files/speech_audio_96.mp3
DAnki/audio_files/speech_audio_97.mp3
DAnki/audio_files/speech_audio_98.mp3
DAnki/audio_files/speech_audio_99.mp3
DAnki/audio_files/speech_audio_100.mp3
DAnki/audio_files/speech_audio_101.mp3
DAnki/audio_files/speech_audio_102.mp3
DAnki/audio_files/speech_audio_103.mp3
DAnki/audio_files/speech_audio_104.mp3
DAnki/audio_files/speech_audio_105.mp3
DAnki/audio_files/speech_audio_106.mp3
DAnki/audio_files/speech_audio_107.mp3
DAnki/audio_files/speech_audio_108.mp3
DAnki/audio_files/speech_audio_109.mp3
DAnki/audio_files/speech_audio_110.mp3
DAnki/audio_files/speech_audio_111.mp3
DAnki/audio_files/speech_audio_112.mp3
DAnki/audio_files/speech_audio_113.mp3
DAnki/audio_files/speech_audio_114.mp3
DAnki/audio_files/speech_audio_115.mp3
DAnki/audio_files/speech_audio_116.mp3
DAnki/audio_files/speech_audio_117.mp3
DAnki/audio_files/speech_audio_118.mp3
DAnki/audio_files/speech_audio_119.mp3
DAnki/audio_files/speech_audio_120.mp3
DAnki/audio_files/speech_audio_121.mp3
DAnki/audio_files/speech_audio_122.mp3
DAnki/audio_files/speech_audio_123.mp3
DAnki/audio_files/speech_audio_124.mp3
DAnki/audio_files/speech_audio_125.mp3
DAnki/audio_files/speech_audio_126.mp3
DAnki/audio_files/speech_audio_127.mp3
DAnki/audio_files/speech_audio_128.mp3
DAnki/audio_files/speech_audio_129.mp3
DAnki/audio_files/speech_audio_130.mp3
DAnki/audio_files/speech_audio_131.mp3
DAnki/audio_files/speech_audio_132.mp3
DAnki/audio_files/speech_audio_133.mp3
DAnki/audio_files/speech_audio_134.mp3
DAnki/audio_files/speech_audio_135.mp3
DAnki/audio_files/speech_audio_136.mp3
DAnki/audio_files/speech_audio_137.mp3
DAnki/audio_files/speech_audio_138.mp3
DAnki/audio_files/speech_audio_139.mp3
DAnki/audio_files/speech_audio_140.mp3
DAnki/audio_files/speech_audio_141.mp3
DAnki/audio_files/speech_audio_142.mp3
DAnki/audio_files/speech_audio_143.mp3
DAnki/audio_files/speech_audio_144.mp3
DAnki/audio_files/speech_audio_145.mp3
DAnki/audio_files/speech_audio_146.mp3
DAnki/audio_files/speech_audio_147.mp3
DAnki/audio_files/speech_audio_148.mp3
DAnki/audio_files/speech_audio_149.mp3
DAnki/audio_files/speech_audio_150.mp3
DAnki/audio_files/speech_audio_151.mp3
DAnki/audio_files/speech_audio_152.mp3
DAnki/audio_files/speech_audio_153.mp3
DAnki/audio_files/speech_audio_154.mp3
DAnki/audio_files/speech_audio_155.mp3
DAnki/audio_files/speech_audio_156.mp3
DAnki/audio_files/speech_audio_157.mp3
DAnki/audio_files/speech_audio_158.mp3
DAnki/audio_files/speech_audio_159.mp3
DAnki/audio_files/speech_audio_160.mp3
DAnki/audio_files/speech_audio_161.mp3
DAnki/audio_files/speech_audio_162.mp3
DAnki/audio_files/speech_audio_163.mp3
DAnki/audio_files/speech_audio_164.mp3
DAnki/audio_files/speech_audio_165.mp3
DAnki/audio_files/speech_audio_166.mp3
DAnki/audio_files/speech_audio_167.mp3
DAnki/audio_files/speech_audio_168.mp3
DAnki/audio_files/speech_audio_169.mp3
DAnki/audio_files/speech_audio_170.mp3
DAnki/audio_files/speech_audio_171.mp3
DAnki/audio_files/speech_audio_172.mp3
DAnki/audio_files/speech_audio_173.mp3
DAnki/audio_files/speech_audio_174.mp3
DAnki/audio_files/speech_audio_175.mp3
DAnki/audio_files/speech_audio_176.mp3
DAnki/audio_files/speech_audio_177.mp3
DAnki/audio_files/speech_audio_178.mp3
DAnki/audio_files/speech_audio_179.mp3
DAnki/audio_files/speech_audio_180.mp3
DAnki/audio_files/speech_audio_181.mp3
DAnki/audio_files/speech_audio_182.mp3
DAnki/audio_files/speech_audio_183.mp3
DAnki/audio_files/speech_audio_184.mp3
DAnki/audio_files/speech_audio_185.mp3
DAnki/audio_files/speech_audio_186.mp3
DAnki/audio_files/speech_audio_187.mp3
DAnki/audio_files/speech_audio_188.mp3
DAnki/audio_files/speech_audio_189.mp3
DAnki/audio_files/speech_audio_190.mp3
DAnki/audio_files/speech_audio_191.mp3
DAnki/audio_files/speech_audio_192.mp3
DAnki/audio_files/speech_audio_193.mp3
DAnki/audio_files/speech_audio_194.mp3
DAnki/audio_files/speech_audio_195.mp3
DAnki/audio_files/speech_audio_196.mp3
DAnki/audio_files/speech_audio_197.mp3
DAnki/audio_files/speech_audio_198.mp3
DAnki/audio_files/speech_audio_199.mp3
DAnki/audio_files/speech_audio_200.mp3
DAnki/audio_files/speech_audio_201.mp3
DAnki/audio_files/speech_audio_202.mp3
DAnki/audio_files/speech_audio_203.mp3
DAnki/audio_files/speech_audio_204.mp3
DAnki/audio_files/speech_audio_205.mp3
DAnki/audio_files/speech_audio_206.mp3
DAnki/audio_files/speech_audio_207.mp3
DAnki/audio_files/speech_audio_208.mp3
DAnki/audio_files/speech_audio_209.mp3
DAnki/audio_files/speech_audio_210.mp3
DAnki/audio_files/speech_audio_211.mp3
DAnki/audio_files/speech_audio_212.mp3
DAnki/audio_files/speech_audio_213.mp3
DAnki/audio_files/speech_audio_214.mp3
DAnki/audio_files/speech_audio_215.mp3
DAnki/audio_files/speech_audio_216.mp3
DAnki/audio_files/speech_audio_217.mp3
DAnki/audio_files/speech_audio_218.mp3
DAnki/audio_files/speech_audio_219.mp3
DAnki/audio_files/speech_audio_220.mp3
DAnki/audio_files/speech_audio_221.mp3
DAnki/audio_files/speech_audio_222.mp3
DAnki/audio_files/speech_audio_223.mp3
DAnki/audio_files/speech_audio_224.mp3
DAnki/audio_files/speech_audio_225.mp3
DAnki/audio_files/speech_audio_226.mp3
DAnki/audio_files/speech_audio_227.mp3
DAnki/audio_files/speech_audio_228.mp3
DAnki/audio_files/speech_audio_229.mp3
DAnki/audio_files/speech_audio_230.mp3
DAnki/audio_files/speech_audio_231.mp3
DAnki/audio_files/speech_audio_232.mp3
DAnki/audio_files/speech_audio_233.mp3
DAnki/audio_files/speech_audio_234.mp3
DAnki/audio_files/speech_audio_235.mp3
DAnki/audio_files/speech_audio_236.mp3
DAnki/audio_files/speech_audio_237.mp3
DAnki/audio_files/speech_audio_238.mp3
DAnki/audio_files/speech_audio_239.mp3
DAnki/audio_files/speech_audio_240.mp3
DAnki/audio_files/speech_audio_241.mp3
DAnki/audio_files/speech_audio_242.mp3
DAnki/audio_files/speech_audio_243.mp3
DAnki/audio_files/speech_audio_244.mp3
DAnki/audio_files/speech_audio_245.mp3
DAnki/audio_files/speech_audio_246.mp3
DAnki/audio_files/speech_audio_247.mp3
DAnki/audio_files/speech_audio_248.mp3
DAnki/audio_files/speech_audio_249.mp3
DAnki/audio_files/speech_audio_250.mp3
DAnki/audio_files/speech_audio_251.mp3
DAnki/audio_files/speech_audio_252.mp3
DAnki/audio_files/speech_audio_253.mp3
DAnki/audio_files/speech_audio_254.mp3
DAnki/audio_files/speech_audio_255.mp3
DAnki/audio_files/speech_audio_256.mp3
DAnki/audio_files/speech_audio_257.mp3
DAnki/audio_files/speech_audio_258.mp3
